@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

:root {
    --red-primary: #7B241C
}

body {
    font-family: 'Hahmlet', serif;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Averia Serif Libre', cursive;
}

h1, h2 {
    padding-bottom: 1.5rem;
    color: var(--red-primary)
}

.bg-red {
    background-color: var(--red-primary)
}

.border-red {
    border: 0.5rem solid var(--red-primary)
}

p {
    text-align: justify;
}

.navbar-link {
    text-decoration: none;
}

@media (orientation: landscape) {
    p {
        font-size: 1.25rem;
    }
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-text-top {
    font-size: 5rem;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 9rem;
}

.bg-seagreen {
    background-color: #2E8B57;
}

.bg-seablue {
    background-color: #123456;
}

.bg-simpsons-yellow {
    background-color: #FFCC00;
}

.card {
    width: 20rem;
    margin-top: 2rem;
}

.card-text {
    font-size: 1rem;
}

.hr-dark {
    border: .05rem solid var(--bs-body-color);
    padding: 0;
    margin: .5rem 0;
}
