@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap');
:root {
    --red-primary: #7B241C;
}

body {
    font-family: 'Andada Pro', serif;
}

h1, h2, h3, h4, .navbar-brand {
    font-family: 'Averia Serif Libre', cursive;
}

h1, h2 {
    color: var(--red-primary)
}

h1 {
    padding-bottom: 1.5rem;
}

.bg-red {
    background-color: var(--red-primary)
}

p {
    text-align: justify;
}

.navbar-link {
    text-decoration: none;
}

.text-muted {
    font-size: 1rem;
}

.section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media (orientation: landscape) {
    p {
        font-size: 1.25rem;
    }
}

@media (orientation: portrait) {
    section {
        padding-top: 7rem;
    }
}

.card {
    width: 33rem;
    margin: 1rem 1rem;
}

.card-text {
    font-size: 1rem;
    hyphens: auto;
}

.hr-dark {
    border: .05rem solid var(--bs-body-color);
    padding: 0;
    margin: .5rem 0;
}

a h4 {
    text-decoration: none;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
